<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_admin_alugueis.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/avatar.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="/admin-loja">Loja</a></li>
            <li><a href="/admin-aluguel">Aluguéis</a></li>
            <li><a href="/admin-usuario">Usuários</a></li>
        </ul>

        <div class="header-btn">
            <a href="/" class="sign-in">Sair</a>
        </div>
    </header>
    <!-- cart items details-->
    <section class="loja" id="loja">
        <div class="heading">
            <h1> Aluguéis </h1>
        </div>
        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Id do Aluguel</th>
                    <th>Email do Cliente</th>
                    <th>Status do Pedido</th>
                    <th>Ações</th>
                </tr>
                <% for(let i=0; i<alugueis.length; i++){ %> 
                    <tr>
                        <td><%= alugueis[i]._id %> </td>
                        <td><%= alugueis[i].email %> </td>
                        <td><%= alugueis[i].status %> </td>
                       <td><button type="submit" id="btn-remover-carro"><a class="button" href="/admin-aceitar-pedido?cod=<%= alugueis[i]._id %>">Aceitar</a></button> <button type="submit" id="btn-remover-carro"><a class="button" name="btn-rejeitar" href="/admin-rejeitar-pedido?cod=<%= alugueis[i]._id %>">Rejeitar</a></button></td> 
                        
                    </tr>
                <% } %> 
            </table>
    
        </div>
    </section>

    <!-- Modal Section -->
    <div class="bg-modal" id="bg-modal">
        <div class="modal-content">
            <div class="close"><i class='bx bx-x-circle' onclick="myFunction2()"></i></div>
            <h2>Mais Informações</h2>
            <form action="">
                <td><img src="img/car1.jpg" alt="" style="width: 40%;"><br></td>
                <td>Marca do Carro<br></td>
                <td>Nome do carro<br></td>
                <td>Cor do Carro<br></td>
                <td>Valor do Carro<br></td>
                <td>Preço da Diária<br></td>
                <td>Data de Início: <br></td>
                <td>Data de Fim: </td>
            </form>
        </div>
    </div>

    <script>
        function myFunction(){
                const modal = document.getElementById('bg-modal');
                modal.style.display = 'flex';
            }
            function myFunction2(){
                const modal = document.getElementById('bg-modal');
                modal.style.display = 'none';
            }
    </script>

    <%- include('foolder.ejs') %>

</body>
</html>