<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/jeep.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Início</a></li>
            <li><a href="#catalogo">Catálogo</a></li>
        </ul>

        <div class="header-btn">
            <a href="sign-up" class="sign-up">Cadastrar-se</a>
            <a href="sign-in" class="sign-in">Entrar</a>
        </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="text">
            <h1><span>Procurando</span> por <br> um bom carro?</h1>
            <p>
                Aqui na <span>Car Rental</span> você encontrar os melhores modelos
                de carros <br>para alugar. E o melhor? Sem sair de casa!
            </p>
        </div>
    </section>
    <!-- Services -->
    <section class="catalogo" id="catalogo">
        <div class="heading">
            <span>Loja</span>
            <h1>Explore As Melhores Ofertas <br> Dos Melhores Locadores </h1>
        </div>
        <div class="services-container">
            <!--<div class="box">
                <div class="box-img">
                    <img src="img/car1.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <h4 class="btn">Disponível Hoje</h4>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/car2.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <h4 class="btn">Indisponível Hoje</h4>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/car3.jpg" alt="">
                </div>
                <p>Marca</p>
                <h3>Nome do Carro</h3>
                <label>Cor do Carro</label>
                <h2>R$ 58500<span> ou </span>R$ 358<span>/dia</span></h2>
                <h4 class="btn">Disponível Hoje</h4>
            </div>-->

            <% for(let i = 2; i < carros.length; i++) { %>
                <div class="box">
                    <!--<div class="box-img">
                        <img src="img/car1.jpg" alt="">
                    </div>-->
                    <p>Marca: <%= carros[i].marca %> </p>
                    <h3>Nome: <%= carros[i].nome %></h3>
                    <label>Cor: <%= carros[i].cor %></label>
                    <h2>R$ <%= carros[i].diaria %><span>/dia</span></h2>
                    <h4 class="btn">Disponível Hoje</h4>
                </div>
            <% } %>  
        </div>
    </section>
    <%- include('foolder.ejs') %>

</body>
</html>