<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_loja.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/man.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#loja">Loja</a></li>
            <li><a href="/loja-aluguel">Meus Aluguéis</a></li>
            <li><a href="/loja-conta">Minha Conta</a></li>
        </ul>

        <div class="header-btn">
            <a href="/logout" class="sign-in">Sair</a>
        </div>
    </header>
    <!-- Services -->
    <section class="loja" id="loja">
        <div class="heading">
            <h1> Loja </h1>
            <span>Confira as melhores ofertas abaixo</span>
        </div>
        <div class="services-container">
            <% for(let i = 0; i < carros.length; i++) {%>
                <div class="box">
                    <!--<div class="box-img">
                        <img src="img/car3.jpg" alt="">
                    </div>-->
                    <p>Marca: <%= carros[i].marca %> </p>
                    <h3>Nome: <%= carros[i].nome %></h3>
                    <label>Cor: <%= carros[i].cor %></label>
                    <h2>R$ <%= carros[i].diaria %><span>/dia</span></h2>
                    <a href="/loja-alugar?cod=<%= carros[i]._id %>" class="btn">Alugar</a>
                </div>
            <% } %>
        </div>
    </section>
    <%- include('foolder.ejs') %>

</body>
</html>