<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_alugar.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/man.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <div class="header-btn">
            <a href="/loja" class="sign-in">Cancelar</a>
        </div>
    </header>
        <section id="cardetails">
            <div class="single-car-details">
                <p><%= marca %> </p>
                <h3><%= nome %> </h3>
                <label><%= cor %> </label>
                <h2>R$ <%= diaria %> <span>/dia</span></h2>
                <h4 class="btn">Indisponível em:</h4>
                <li>dd/mm/aaaa</li>
                <li>dd/mm/aaaa</li>
                <li>dd/mm/aaaa</li>
            </div>
        </section>
            <div class="form-container">
                <form action="/cadastrar-aluguel" method="post">
                    <div class="input-box">
                        <span>Dia do Aluguel<br></span>
                        <input type="date" name="data_inicio" id="">
                    </div>
                    <div class="input-box">
                        <span>Dia do Retorno<br></span>
                        <input type="date" name="data_final" id="">
                    </div>
                    <span>Forma de pagamento</span>
                    <select name="tipo_pagamento" id="">
                        <option value="cartao">Cartão</option>
                        <option value="boleto">Boleto</option>
                        <option value="pix">Pix</option>
                    </select>
                    <input type="hidden" name="idCarro" value="<%= idCarro %> ">
                    <input type="hidden" name="marca_carro" value="<%= marca %> ">
                    <input type="hidden" name="nome_carro" value="<%= nome %> ">
                    <input type="hidden" name="cor_carro" value="<%= cor %> ">
                    <input type="hidden" name="valor_diaria" value="<%= diaria %> ">
                    <input type="hidden" name="idUser" value="<%= idUser %> ">
                    <input type="hidden" name="status" value="Aguardando confirmação">
                    <input type="submit" value="Alugar" class="btn">
                </form>
            </div>

</body>
</html>