<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head_alugueis.ejs') %>
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" class="logo"><img src="img/man.png" alt=""></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="/loja">Loja</a></li>
            <li><a href="/loja-aluguel">Meus Aluguéis</a></li>
            <li><a href="/loja-conta">Minha Conta</a></li>
        </ul>

        <div class="header-btn">
            <a href="/logout" class="sign-in">Sair</a>
        </div>
    </header>
    <!-- cart items details-->
    <section class="loja" id="loja">
        <div class="heading">
            <h1> Meus Aluguéis </h1>
            <span>Confira todos os seus aluguéis abaixo</span>
        </div>
        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Carro</th>
                    <th>Dia do Aluguel</th>
                    <th>Diárias</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                </tr>
                <% for(let i=0; i<elementos.length ;i++){ %> 
                <tr>
                    <td>
                        <div class="cart-info">
                            <div class="text">
                                <p style="margin-bottom: 2px;"><%= elementos[i].nome_carro %> </p>
                                <small><%= elementos[i].marca_carro %> </small>
                                <small><%= elementos[i].cor_carro %> </small>
                                <small>R$ <%= elementos[i].valor_diaria %> /dia</small>
                            </div>
                        </div>
                    </td>
                    <td><%= elementos[i].data_inicio %> </td>
                    <td><%= cont++ %> </td>
                    <td>R$ 52719</td>
                    <td><%= elementos[i].status %> </td>
                </tr>   
                <% } %>                
            </table>
    
        </div>
    </section>
    <%- include('foolder.ejs') %>

</body>
</html>